.box1 {
    background-color: aqua;
    border: 2px solid black;
    width: 150px;
    height: 200px;
    padding: 50px;
}

.box2 {
    background-color: blueviolet;
    border: 2px solid black;
    width: 150px;
    height: 200px;
    padding: 50px;
    position: relative;    /* Cách so với vị trí hiện tại của nó */
    top: 50px;            /* Cách box1 trên 50px */
    left: 60px;           
}

.box3 {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    padding: 40px;
    position: absolute;      /* Cách so với box cha của nó */
    top: 0;             /* 0 cách trên dưới so với box cha */
    left: 0;
}

.box4 {
    background-color: blue;
    width: 100%;
    height: 50px;
    padding: 30px;
    position: fixed;           /* Box css so với viewport khung nhìn */
    top: 0;
    left: 0;
    z-index: 1;
}

.box5 {
    background-color: blue;
    width: 100%;
    height: 50px;
    padding: 30px;
    position: sticky;           /* Box css so với viewport khung nhìn nhưng khi kéo đến box đó sẽ fix cứng */
    top: 0;
    right: 0;
}

.header {
    position: static;
    left: 0;
    top: 0;
}

.box6, .box7, .box8 {
    width: 150px;
    height: 200px;
    border: 2px solid black; 
}

/* overflow mặc định là visible */
.box6 {
    overflow: hidden;         /* hidden tràn ra và ẩn đi */
}
.box7 {
    position: relative;
    top:  200px;
    left: 600px;
    overflow: scroll;        /* scroll tràn ra có thanh cuộn */
}

.box8 {
    position: relative;
    top: 300px;
    overflow: auto;         /* auto khi văn bản dài sẽ tự hiện SCROLL */
}

