/* h1 là selector */
h1 {
    color: blue;
}

p {
    font-size: 20px;
}

#description {
    color: red;
}

.text {
    font-size: 40px;
}

/*
* {
    text-align: center;
}
*/

.text04, .text05 {
    background-color: yellow;
}


.welcome {
    color: #25AEF3;
}


.background-img {
    border: 1px solid red;
    width: 100%;
    height: 900px;

    background: url(image.png);

    /* chiều rộng 33% của phần tử cha, chiều cao tự động theo tỉ lệ gốc của hình ảnh */
    background-size: 100px 100px;  
    
    /* contain tự co giãn ảnh theo element để k vỡ ảnh */
    /* background-size: contain; */

    /* co giãn ảnh để phủ toàn bộ element, có thể bị cắt xén */;
    /* background-image: cover; */

    background-repeat: no-repeat; /* Không lặp lại ảnh
    /* top right; Vị trí ảnh ở góc trên bên trái */ 
    background-position: center center;

    background-attachment: fixed;
}


.box1 {
    border: 10px dotted red;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 20px;
}

.box2 {
    border: 10px dashed yellow;
    margin-bottom: 20px;
    padding: 20px;
}

.box3 {
    border: 10px dashed yellow;
    background-color: green;
    margin-top: 20px;
    padding: 30px;
    /* background-clip: padding-box; */
    background-clip: content-box;                  /* Đổ màu content */
}

.box4 {
    margin-top: 20px;
    background-image: url("image.png");
    background-repeat: no-repeat;
    border: 10px solid yellow;
    background-size: cover;
    height: 250px;
    padding: 20px;
    background-origin: content-box;
}

.box5 {
    height: 300px;
    border: 2px solid yellow;
    padding: 20px;
    margin-top: 20px;
    /* min - tói thiểu 200px có thể tối đa  */
    min-width: 50vw;
    max-width: 200px;
}

.text {
    text-align: right;
}

.texttransform {
    text-transform: capitalize;
}